body{
    margin: 0;
    display: grid;
    grid-template-areas: 'header header header header'
                         'navbar navbar navbar navbar'
                         'section section section aside'
                         'footer footer footer footer';
    grid-template-rows: 20vh 5vh 80vh 10vh;
    grid-template-columns: 24vw 24vw 24vw 24vw;
    grid-gap: 10px;
}
header{
    grid-area: header;
    background-color: #fe017e;
    display: flex;
    justify-content: center;
}
header img{
    height: 100%;
    width: 100px;
    border-radius: 100%;
}
nav{
    grid-area: navbar;
    background-color: blue;
    display: flex;
    justify-content: space-around;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 16pt;
}
nav a:hover{
    color: rgb(134, 133, 133);
    text-decoration: underline;
}
section{
    grid-area: section;
    background-color: darkgreen;
    background-image: url("images/baanner.jpg");
    background-size: cover;
}

aside{
    grid-area: aside;
    background-color: yellow;
    text-align: center;
    padding: 0 20px;
}
aside h2,p{
    font-family: 'Exo', sans-serif;

}
footer{
    grid-area: footer;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div{
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-around;
}